{namespace neos=Neos\Neos\ViewHelpers}
{namespace neoscr=Neos\ContentRepository\ViewHelpers}
{namespace fs=Neos\Fusion\ViewHelpers}

<f:if condition="{collection}">
	<f:if condition="{paginationEnabled}">
		<f:then>
			<f:if condition="{pagination}">
				<neoscr:widget.paginate nodes="{collection}" as="paginatedItems" widgetId="listable-paginate" configuration="{pagination}">
					<ul{attributes -> f:format.raw()} >
						<f:for each="{paginatedItems}" as="item" iteration="iterator">
							<li {f:if(condition: itemClass, then: 'class="{itemClass}"')}><fs:render path="itemRenderer" context="{node: item, iterator: iterator}" /></li>
						</f:for>
					</ul>
				</neoscr:widget.paginate>
			</f:if>
		</f:then>
		<f:else>
			<ul{attributes -> f:format.raw()}>
				<f:for each="{collection}" as="item" iteration="iterator">
					<li class="{itemClass}"><fs:render path="itemRenderer" context="{node: item, iterator: iterator}" /></li>
				</f:for>
			</ul>
		</f:else>
	</f:if>
</f:if>
